.card {
    float: left;
    background-image: linear-gradient(to bottom, rgb(0, 174, 255), darkgrey, #ffffff);
    border-color: whitesmoke;
    border-style: outset;
    position: relative;
    margin: 1.2em 1.0em 2em 1.0em;
    height: 30em;
}
.card h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.699);
    text-shadow: -2px 5px 2px black;
    box-shadow: 0px 5px 3px 1px black;
    border-radius: 4%;
    font-family: 'Ultra', serif;
    background-color: goldenrod;
}
.card h3 {
    color:whitesmoke;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 1px 1px 0px black;
}
.card h4 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card a {
    color: black;
}
.card a:hover {
    color: red;
}
.profile-rail-card__member-photo {
    border: 2px solid #fff;
    box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
    margin: 0px auto 12px;
    background-color: #fff;
    background-clip: content-box;
    border-radius: 49.9%;

}
button {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: crosshair;
    margin: 4px 2px;
    text-decoration: white;
}
button:hover {
    background-color: #008CBA;
    box-shadow: 0px 10px 6px 0 rgba(0, 0, 0, 0.747), 0 17px 50px 0 rgba(0, 0, 0, 0.637);
    color: white;
}