@media only screen and (max-device-width: 900px) {
    /* .menu { width:600px; } */
    }
body {
    background-color: grey;
    background: url(../img/tech.png) center, no-repeat;

}
.content_top {
    text-align: center;
    position: relative;
}
.content-center {
	
    float: left;
    margin-left: 5.0em;
    margin-top: 1.5em; 
	position: relative;
	width: 50.0em;
	height: 30.0em;
	border: solid;
	border-bottom-style: outset;
	border-color: #E4E4E4;
    box-shadow: 2px 2px 10px 5px black;
    background-color: whitesmoke;
}
.content-center h2 {
    color: black;
    text-align: center;
    font-family: 'Cinzel', serif;
}
.content-center p {
    text-align: center;
    font-family: 'Cinzel', serif;
}
.clear {
    clear: both;
}

footer {
    clear: both;
    box-shadow: 0.3em 0.3em 0.3em 0.3em black;
    border-top: 0.1px solid rgba(205,207,210,.7);
    margin-top: 1.8em;
    padding-top: 1.4em;
    padding-bottom: 2.5em;
    display: flex;
    justify-content: center;
    background-color: rgba(7, 140, 201, 0.404);
    border-color: gray;
    border-style: inset;
}
.to-center {
    margin-left: 31.5em;
}
.to-rigth {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    background-color: rgba(0, 0, 0, 0.466);
    box-shadow: 0.1em 0.1em 0.8em 0.3em black;
    margin-left: 10.0em;
}